snippet [ "Markdown link"
[$2]($1)
endsnippet

snippet ![ "Markdown image"
![$2]($1)
endsnippet

snippet def "Definition"
*$1*: $2  
endsnippet

snippet b "bold"
**$1** $2
endsnippet

snippet i "italic"
**$1** $2
endsnippet

snippet table "table"
$1 | $2 | $3
------:+:------+:-----

endsnippet

